.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### mac ###
.DS_Store

### docker ###
*.env
/data/db/
/data/kafka/
### k6 ###
*/k6-tests/results